@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen w-screen overflow-x-hidden font-[family-name:var(--font-mona-sans)] text-body;
}

/* Utilities */
.row {
    @apply flex items-center;
}

.col {
    @apply flex flex-col;
}

.center-all {
    @apply row justify-center;
}

.layout-max-width {
    max-width: 1280px;
}

.layout {
    @apply layout-max-width mx-auto px-4 sm:px-8;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
    background-color: #f5f7fe;
    border-radius: 0px;
    border: 0;
}
