@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen w-screen overflow-x-hidden font-[family-name:var(--font-mona-sans)] text-body;
}

/* Utilities */
.row {
    @apply flex items-center;
}

.flexible-row {
    @apply flex flex-wrap items-stretch gap-2 md:gap-3;
}

.col {
    @apply flex flex-col;
}

.responsive-col {
    @apply col w-full flex-1 gap-4 lg:gap-6;
}

.center-all {
    @apply row justify-center;
}

.layout-max-width {
    max-width: 1280px;
}

.layout {
    @apply layout-max-width mx-auto px-4 sm:px-8;
}

.roboto {
    @apply font-[family-name:var(--font-roboto-mono)];
}

/* Classes */
.card-title {
    @apply text-lg lg:text-2xl;
}

.card-title-big {
    @apply text-xl lg:text-[26px];
}

/* Responsiveness */
.web-only-flex {
    @apply hidden md:flex;
}

.mobile-only-flex {
    @apply flex md:hidden;
}

.web-only-block {
    @apply hidden md:block;
}

.mobile-only-block {
    @apply block md:hidden;
}

/* Safe padding for mobile devices */
.nav-safe-padding {
    padding-bottom: env(safe-area-inset-bottom);
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
    background-color: #f5f7fe;
    border-radius: 0px;
    border: 0;
}

/* List Scrollbar */
.group\/list::-webkit-scrollbar {
    height: 8px !important;
}

.group\/list::-webkit-scrollbar-track {
    background-color: transparent;
}

.group\/list::-webkit-scrollbar-thumb {
    background-color: #f5f7fe;
    border: 0;
    border-radius: 6px;
}
