@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen w-screen overflow-x-hidden font-[family-name:var(--font-mona-sans)] text-body;
}

/* Utilities */
.row {
    @apply flex items-center;
}

.flexible-row {
    @apply flex flex-wrap items-stretch gap-2 md:gap-3;
}

.col {
    @apply flex flex-col;
}

.responsive-col {
    @apply col w-full flex-1 gap-4 lg:gap-6;
}

.center-all {
    @apply row justify-center;
}

.layout-max-width {
    max-width: 1280px;
}

.layout {
    @apply layout-max-width mx-auto px-4 sm:px-8;
}

.roboto {
    @apply font-[family-name:var(--font-roboto-mono)];
}

/* Classes */
.card-title {
    @apply text-lg lg:text-[22px];
}

.card-title-big {
    @apply text-xl lg:text-2xl;
}

.list-wrapper {
    @apply col flex-1 justify-between gap-8;
}

.list {
    @apply group/list col -mt-2 w-full gap-2 overflow-x-auto pb-2 pt-2 min-[1190px]:pb-0;
}

.slate-button {
    @apply bg-slate-150 hover:!opacity-75;
}

/* Responsiveness */
.web-only-flex {
    @apply hidden md:flex;
}

.mobile-only-flex {
    @apply flex md:hidden;
}

.web-only-block {
    @apply hidden md:block;
}

.mobile-only-block {
    @apply block md:hidden;
}

.only-lg {
    @apply hidden lg:block;
}

/* Safe padding for mobile devices */
.nav-safe-padding {
    padding-bottom: env(safe-area-inset-bottom);
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
    background-color: #f5f7fe;
    border-radius: 0px;
    border: 0;
}

/* List Scrollbar */
.group\/list::-webkit-scrollbar {
    height: 8px !important;
}

.group\/list::-webkit-scrollbar-track {
    background-color: transparent;
}

.group\/list::-webkit-scrollbar-thumb {
    background-color: #f5f7fe;
    border: 0;
    border-radius: 6px;
}

/* Added by ShadcnUI */
@layer base {
    :root {
        /* --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%; */
        --border: 214.3 31.8% 91.4%;
        /* --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem; */
    }
}
